In [1]:
import pandas as pd
import os
from glob import glob
import numpy as np

In [2]:
from FirmFinancialStatement import FirmFS

In [3]:
BsPath = 'D:/Python_project/FirmFSCleansing/raw/codal_clean_balance_sheet'
PlPath = 'D:/Python_project/FirmFSCleansing/raw/codal_clean_profit_loss'

### Integrating Data and importing

In [4]:
BSInstance = FirmFS(BsPath, 'BalanceSheet')

In [5]:
PLInstance = FirmFS(PlPath, 'ProfitLost')

In [6]:
BSDf = BSInstance.ImportingData()

In [7]:
PLDf = PLInstance.ImportingData()

### Checking cleans and uncleans columns

In [8]:
CheckDict = {}
for i in BSDf.columns:
    CheckDict[i] = BSDf[i].apply(lambda x: type(x)).unique()

In [8]:
ComInf = pd.read_excel(r'D:\Python_project\FirmFSCleansing\raw\nemad_info_abbasi_14011012.xlsx')

In [9]:
BSDf = BSDf[BSDf.national_code.isin(ComInf[ComInf.firm_kind=='Other'].shenaseh_meli.unique())]

In [10]:
PLDf = PLDf[PLDf.national_code.isin(ComInf[ComInf.firm_kind=='Other'].shenaseh_meli.unique())]

In [192]:
#Drop False data in description
BSDf.drop(index=BSDf[BSDf.description=='۱۳۹۹/۱۲/۳۰'].index, inplace=True)
BSDf.reset_index(drop=True,inplace=True)

BSDf.drop(index=BSDf[BSDf.description=='0'].index, inplace=True)
BSDf.reset_index(drop=True,inplace=True)

In [11]:
#Export unique title and in excel unique titles and coding and then import excel
BSTitleDf = pd.DataFrame({'BSTitle':BSDf.description.unique()})
BSTitleDf.to_excel(r'D:\Python_project\FirmFSCleansing\processed\BSTitleUnified.xlsx')

In [235]:
PLTitleDf = pd.DataFrame({'BSTitle':PLDf.description.unique()})
PLTitleDf.to_excel(r'D:\Python_project\FirmFSCleansing\processed\PLTitleUnified.xlsx')

In [190]:
a = PLDf[PLDf['description']=='profit_operations_in_progress_before_tax']

In [184]:
a.nemad.unique()

array(['fars', 'hekeshti', 'kerman', 'khebahman', 'khegostar', 'parsan',
       'petrol', 'semega', 'tapiko', 'vamelli', 'veghadir', 'vegostar',
       'vekharazm', 'veniki', 'vesadid', 'vesanat'], dtype=object)

In [54]:
#Take two diff farsi title with one english title and test there are one or not
target = []
nontarget = []
for i in a.nemad.unique():
    for j in a[a.nemad==i].date.unique():
        havd = a[a.nemad==i][a[a.nemad==i].date==j]
        deld = a[a.nemad==i][a[a.nemad==i].date==j].drop_duplicates()
        if len(havd)!=len(deld):
            target.append(havd)
        else:
            nontarget.append(havd)

In [191]:
b = PLDf[PLDf['description']=='net_profit_operations_in_progress_before_tax']

In [33]:
PLDf[PLDf.nemad=='barekat'][PLDf[PLDf.nemad=='barekat'].date=='1393-12-29'].description.unique()

array(['net_profit', 'operating_Income', 'dividends_income',
       'guaranteed_profit_income', 'profti_sales _of_investments',
       'profit_change_in_securities_investments_value',
       'other_operating_income', 'total_operating_income',
       'operating_expenses', 'selling_general_administrative_expenses',
       'other_operating_expenses', 'total_operating_expenses',
       'operating_profit', 'financial_cost',
       'other_non_operating_income_and_expenses',
       'profit_operations_in_progress_before_tax', 'income_tax',
       'profit_operations_in_progress',
       'profit_stopped_operations_after_tax_effect', 'profit_per_share',
       'profit_per_share_due_to_(operating)_operations_in_progress',
       'profit_per_share_due_to_(non_operating)_operations_in_progress',
       'profit_per_share_due_to_stopped_operations',
       'reduced_profit_per_share',
       'reduced_profit_per_share_due_to_(operating)_operations_in_progress',
       'reduced_profit_per_share_due_to_(non_operating)_operations_in_progress',
       'reduced_profit_per_share_due_to_stopped_operations',
       'accumulated_profit_account_turnover',
       'accumulated_profit_beginning_of_period', 'annual_adjustments',
       'accumulated_profit_beginning_of_adjusted_period',
       'approved_dividend', 'capital_changes_from_accumulated_profit',
       'accumulated_profit_beginning_of_unallocated_period',
       'transfer_of_other_equity_items', 'distributable_profit',
       'transfer_to_legal_reserve', 'transfer_to_other_reserve',
       'accumulated_profit_end_of_period', 'net_profit_per_share_(rial)',
       'capital'], dtype=object)

In [74]:
a.date.unique()

array(['1393-12-29', '1392-12-29', '1394-12-29', '1395-06-31',
       '1394-06-31', '1395-12-30', '1396-03-31', '1395-03-31',
       '1396-06-31', '1396-09-30', '1395-09-30', '1396-12-29',
       '1397-03-31', '1397-06-31', '1397-09-30', '1397-12-29',
       '1398-03-31', '1398-06-31', '1398-09-30', '1398-12-29',
       '1399-03-31', '1399-06-31', '1399-09-30', '1399-12-30',
       '1400-03-31', '1400-06-31', '1394-03-31', '1394-09-30',
       '1399-10-30', '1398-10-30', '1400-01-31', '1399-01-31',
       '1400-04-31', '1399-04-31', '1400-07-30', '1399-07-30',
       '1395-02-31', '1394-02-31', '1395-05-31', '1394-05-31',
       '1395-08-30', '1394-08-30', '1395-11-30', '1394-11-30',
       '1396-02-31', '1396-05-31', '1396-08-30', '1396-11-30',
       '1397-02-31', '1397-05-31', '1397-08-30', '1397-11-30',
       '1398-02-31', '1398-05-31', '1398-08-30', '1398-11-30',
       '1399-02-31', '1399-05-31', '1399-08-30', '1399-11-30',
       '1400-02-31', '1400-05-31', '1385-12-29', '1384-12-29',
       '1386-12-29', '1387-12-30', '1388-12-29', '1389-12-29',
       '1390-12-29', '1391-12-30', '1393-03-31', '1393-08-30',
       '1393-07-05', '1393-09-30', '1393-11-30', '1392-11-30',
       '1398-01-01'], dtype=object)

In [75]:
b.date.unique()

array(['1390-06-31', '1389-06-31', '1389-12-29', '1390-09-30',
       '1389-09-30', '1391-03-31', '1390-03-31', '1390-12-29',
       '1391-06-31', '1391-09-30', '1392-06-31', '1391-12-30',
       '1392-09-30', '1392-12-29', '1393-03-31', '1392-03-31',
       '1393-06-31', '1394-03-31', '1393-12-29', '1394-12-29',
       '1388-12-29', '1394-06-31', '1388-03-31', '1387-03-31',
       '1387-09-30', '1388-06-31', '1387-06-31', '1389-03-31',
       '1388-09-30', '1387-12-30', '1386-12-29', '1393-09-30',
       '1394-09-30', '1386-06-31', '1385-12-29', '1385-06-31',
       '1386-09-30', '1384-12-29', '1386-03-31', '1381-06-31',
       '1380-06-31', '1380-12-29', '1385-09-30', '1385-03-31',
       '1384-03-31', '1393-10-30', '1392-10-30', '1394-10-30',
       '1395-10-30', '1396-04-31', '1395-04-31', '1396-07-30',
       '1395-07-30', '1396-10-30', '1397-01-31', '1396-01-31',
       '1397-04-31', '1397-07-30', '1397-10-30', '1398-04-31',
       '1398-10-30', '1399-01-31', '1398-01-31', '1399-04-31',
       '1399-07-30', '1398-07-30', '1399-10-30', '1400-01-31',
       '1400-04-31', '1395-03-31', '1395-06-31', '1395-09-30',
       '1395-12-30', '1396-03-31', '1396-06-31', '1396-09-30',
       '1396-12-29', '1397-03-31', '1397-06-31', '1397-09-30',
       '1397-12-29', '1398-03-31', '1398-06-31', '1398-09-30',
       '1398-12-29', '1399-03-31', '1399-06-31', '1399-09-30',
       '1399-12-30', '1400-03-31', '1400-06-31'], dtype=object)

In [194]:
# Testing 'loans' is 'short_term_loan'
InList = []
CorList = []
for i in BSDf.nemad.unique():
    if len(a[a['nemad']==i])>0:
        if len(b[b['nemad']=='aabada'])>0:
            InList.append(i)
        else :
            CorList.append(i)
    else :
        print(i)

aabada
aap
abada
akhaber
aria
asp
baika
barekat
begilan
bekab
bepeyvand
beterans
chefibr
chekhazar
chimiatech
kimiatech
dejaber
desanko
deshimi
detolid
dezahravi
diran
etkai
fameli
farabours
farak
fegostar
fejahan
fenaft
shepoli
feroi
fesabzevar
fetosa
fetousa
foolad
gedona
gekosar
gekowsar
geshan
ghazar
ghechar
ghedam
ghegila
ghegol
ghekourosh
ghepinoo
gheshahdab
gheshan
ghesino
hafari
heaafarin
heafarin
hegardesh
hereil
heseir
hiweb
kafpars
kama
kaveh
kechad
kegol
kemase
kemaseh
kerman
kermasha
kezoghal
khahen
khebonyan
khelent
khemotor
khenasir
khesadra
kheshargh
latif
lekoma
lepars
madira
margham
modiriat
natrin
nori
opal
petire
pizad
rafza
saba
sakht
samid
sebehsaz
sefars
sekaroon
sekhaf
senoosa
serood
seshahed
setran
shabriz
shafa
shapdis
shapna
sharak
sharom
shaspa
shasta
shavan
shebandar
shebasir
sheghadir
shegooya
shegoya
shekolor
shelaab
shepetro
shesadaf
simorgh
sita
taba
temellat
tepco
tosan
valekar
valepars
valoghman
vasekerman
vasekersha
vatejarat
vebmellat
vebsader
veiran
vekharazm
velekar
veloghman
vemodir
venovin
vepars
vepoya
vesepehr
visa
zemalard
zagros
zangan
zeghiam
zekosar
zekowsar
zob

In [192]:
np.intersect1d(a[a.value!='0'].nemad.unique(), b[b.value!='0'].nemad.unique())

array([], dtype=object)

In [193]:
np.intersect1d(a.nemad.unique(), b.nemad.unique())

array([], dtype=object)

In [185]:
name = 'fars'

In [186]:
a[a['nemad']==name].date.unique()

array(['1392-06-31', '1391-06-31', '1392-03-31', '1392-09-30',
       '1391-09-30', '1393-03-31', '1393-09-30', '1394-03-31'],
      dtype=object)

In [188]:
b[b['nemad']==name].date.unique()

array([], dtype=object)

In [180]:
a[a['nemad']==name][a[a['nemad']==name].date=='1393-12-29']

,description,value,date,audit_status,is_total_value,national_code,nemad,company_name,reported_period,reported_date_j,reported_date_m,reported_audit_status,is_corrected,send_time,publish_time,table_title
17276,changes_in_accumulated_profits,0,1393-12-29,unknown,0,10100415452,baika,Iran Cable,3_months_interim,1393-12-29,2015-03-20,unknown,0,1394/02/13 11:48:17,1394/02/14 08:33:03,income_statement

In [181]:
b[b['nemad']==name][b[b['nemad']==name].date=='1393-12-29']

,description,value,date,audit_status,is_total_value,national_code,nemad,company_name,reported_period,reported_date_j,reported_date_m,reported_audit_status,is_corrected,send_time,publish_time,table_title
17282,total_changes_in_accumulated_profits,0,1393-12-29,unknown,0,10100415452,baika,Iran Cable,3_months_interim,1393-12-29,2015-03-20,unknown,0,1394/02/13 11:48:17,1394/02/14 08:33:03,income_statement

In [187]:
PLDf[PLDf['nemad']==name][PLDf[PLDf['nemad']==name].date=='1394-03-31'][PLDf[PLDf['nemad']==name][PLDf[PLDf['nemad']==name].date=='1394-03-31'].reported_date_j=='1394-03-31']

,description,value,date,audit_status,is_total_value,national_code,nemad,company_name,reported_period,reported_date_j,reported_date_m,reported_audit_status,is_corrected,send_time,publish_time,table_title
92090,profit_of_investments,"49,880,575",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92091,profit_sales _of_investments,0,1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92092,other_activities_profit,0,1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92093,total_income,"49,880,575",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92094,selling_general_administrative_expenses,"(471,793)",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92095,net_other_operating_income_and_expenses,0,1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92096,operating_profit,"49,408,782",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92097,financial_cost,0,1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92098,net_other_income_and_expenses,"1,618,550",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92099,profit_befor_unexpected_items_changes_in_accou...,"51,027,332",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92100,unexpected_items_changes_in_accounting_principles,0,1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92101,profit_befor_tax,"51,027,332",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92102,tax,"(289,571)",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92103,net_profit_after_tax,"50,737,761",1394-03-31,audited,1,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92104,accumulated_profit_beginning_of_period,"51,938,987",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92105,annual_adjustments,"(37,571)",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92106,accumulated_profit_beginning_of_adjusted_period,"51,901,416",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92107,distributable_profit,"102,639,177",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92108,legal_reserves,0,1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92109,r_and_d_rederves,0,1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92110,other_reserves,0,1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92111,capital_decrease_and_increase_from_accumulated...,0,1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92112,approved_dividend,"(24,788,614)",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92113,accumulated_profit_end_of_period,"77,850,563",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92114,profit_per_share_after_tax,"2,047",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement
92115,capital,"24,788,614",1394-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1394-03-31,2015-06-21,audited,0,1394/07/28 15:56:56,1394/07/28 15:56:56,income_statement

In [189]:
PLDf[PLDf['nemad']==name][PLDf[PLDf['nemad']==name].date=='1396-03-31'][PLDf[PLDf['nemad']==name][PLDf[PLDf['nemad']==name].date=='1396-03-31'].reported_date_j=='1396-03-31']

,description,value,date,audit_status,is_total_value,national_code,nemad,company_name,reported_period,reported_date_j,reported_date_m,reported_audit_status,is_corrected,send_time,publish_time,table_title
92862,net_profit,0,1396-03-31,audited,1,10101336301,fars,Khalij Fars petro,12_months_interim,1396-03-31,2017-06-21,audited,0,1396/07/23 16:06:06,1396/07/23 16:06:06,income_statement
92863,operating_Income,0,1396-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1396-03-31,2017-06-21,audited,0,1396/07/23 16:06:06,1396/07/23 16:06:06,income_statement
92864,dividends_income,"39,498,710",1396-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1396-03-31,2017-06-21,audited,0,1396/07/23 16:06:06,1396/07/23 16:06:06,income_statement
92865,guaranteed_profit_income,0,1396-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1396-03-31,2017-06-21,audited,0,1396/07/23 16:06:06,1396/07/23 16:06:06,income_statement
92866,profit_sales _of_investments,"2,174,689",1396-03-31,audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1396-03-31,2017-06-21,audited,0,1396/07/23 16:06:06,1396/07/23 16:06:06,income_statement
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93082,transfer_to_legal_reserve,"(663,298)",1396-03-31,not_audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1396-03-31,2017-06-21,not_audited,0,1396/05/24 18:09:09,1396/05/24 18:09:09,income_statement
93083,transfer_to_other_reserve,0,1396-03-31,not_audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1396-03-31,2017-06-21,not_audited,0,1396/05/24 18:09:09,1396/05/24 18:09:09,income_statement
93084,accumulated_profit_end_of_period,"97,553,395",1396-03-31,not_audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1396-03-31,2017-06-21,not_audited,0,1396/05/24 18:09:09,1396/05/24 18:09:09,income_statement
93085,net_profit_per_share_(rial),789,1396-03-31,not_audited,1,10101336301,fars,Khalij Fars petro,12_months_interim,1396-03-31,2017-06-21,not_audited,0,1396/05/24 18:09:09,1396/05/24 18:09:09,income_statement
93086,capital,"50,000,000",1396-03-31,not_audited,0,10101336301,fars,Khalij Fars petro,12_months_interim,1396-03-31,2017-06-21,not_audited,0,1396/05/24 18:09:09,1396/05/24 18:09:09,income_statement

In [12]:
CleansList = pd.read_excel(r'D:\Python_project\FirmFSCleansing\raw\nemad_info_abbasi_14011012.xlsx')

In [15]:
StockInf = pd.read_excel(r'D:\Python_project\GraphDataPreparing\raw\stock-information.xlsx')

In [20]:
ScrapedStocksAllInf = CleansList.merge(StockInf, left_on='shenaseh_meli', right_on='shenaseh_meli', how='left')

In [22]:
ScrapedStocksAllInf.to_excel(r'D:\Python_project\FirmFSCleansing\processed\ScrapedStockAllInf_Abbasi_14011020.xlsx')